<!-- =======================
Portfolio START -->
<section class='container py-5 mb-2 mt-md-2 mb-md-4 mt-lg-4 mb-lg-5'>
  <!-- Title -->
  <div class='row'>
    <div class='col-lg-8 mb-4'>
      <h2>Our Lovely Movements</h2>
      <p class='mb-0'>
        Clients we've worked with and/or collaborate with
      </p>
    </div>
  </div>

  <div
    class='row g-4 filter-container overflow-hidden'
    data-isotope='{"layoutMode": "masonry"}'
  >

    {{#each port}}
      <div class='col-6 col-md-4 col-lg-3 grid-item'>
        <div class='card overflow-hidden bg-secondary border-0'>
          <div class='card-overlay-hover'>
            <!-- Image -->
            <img
              src='/img/folio/{{this.imgUrl}}'
              class='rounded-3'
              alt='{{this.name}}'
            />
          </div>
          <!-- Full screen button -->
          <a
            class='card-element-hover position-absolute top_50 start-50 translate-middle bg-secondary rounded-3 p-2 lh-1'
            href='{{this.href}}'
            target='_blank'
          >
            <i class='bx bxl-instagram fa-fw fs-2 text-white'></i>
          </a>
          <p class='text-center mt-3'>{{this.name}} - {{this.country}}</p>
        </div>
      </div>
    {{/each}}

  </div>
</section>
<!-- =======================
Portfolio END -->